
.oprate_num {
  height: 44px;
  width: 150px;
  display: flex;

  & > div {
    width: 44px;
    height: 44px;
    background-color: #1E9B84;
    border-radius: 22px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    & > :deep(.van-icon) {
      font-size: 26px;
      text-align: center;
      width: 26px;
      height: 26px;
      padding: 0;
      margin: 0;
      color: white;
      font-weight: bold;
    }
  }

  & > span {
    height: 44px;
    width: 44px;
    line-height: 44px;
    text-align: center;
    color: #666;
    font-weight: bold;
  }
}
