.categories {
  padding-top: 100px;

  --van-grid-item-text-font-size: 16px;
  --van-grid-item-icon-size: 80px;
  --van-swipe-indicator-size: 12px;
  --van-swipe-indicator-active-background-color: #1E9B84;
}
