
.home-container {
  .search {
    font-size: 20px !important;
    letter-spacing: normal;
    background-color: #f7f7f7;
    height: 60px;
    color: #666;
    line-height: 60px;
    border-radius: 20px;
    margin-left: -30px;
    padding: 0 25px;
    box-sizing: border-box;
    overflow: hidden;

    & > i {
      font-size: 35px;
      float: left;
      margin: 14px 2px 0 0;
    }

    & > span {
      float: left;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      width: 350px;
    }
  }

  .login {
    color: white;
  }

  :deep(.van-nav-bar) {
    overflow: hidden;

    .van-nav-bar__content {
      .van-nav-bar__left,
      .van-nav-bar__right {
        font-size: 30px;
        color: white;
      }

      .van-nav-bar__title {
        overflow: inherit;
      }
    }
  }
}
