
.search_container {
  :deep(.van-search) {
    .van-search__content {
      .van-search__label {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .van-icon {
        font-size: 36px;
        line-height: 48px;
      }

      .van-field__control {
        line-height: 48px;
      }
    }

    .van-search__action {
      background-color: #1E9B84;

      &:active {
        background-color: #21ac92;
      }
    }
  }

  .search_shop {
    li {
      border-bottom: 2px solid #ccc;
      background-color: #f7f7f7;

      dl {
        display: flex;
        margin: 0;
        padding-top: 20px;

        dt {
          flex: 1;
          height: 150px;

          :deep(.van-image) {
            padding-top: 10px;
            width: 100px;
            height: 100px;
          }
        }

        dd {
          flex: 3;
          margin: 0;
          text-align: left;

          h3 {
            font-size: 30px;
            margin: 0;
          }

          h4 {
            font-size: 28px;
            margin: 5px 0;
          }

          p {
            font-size: 26px;
            margin: 0;
          }
        }
      }
    }
  }

  :deep(.van-loading) {
    padding-top: 50px;
  }
}
